<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xin.mybatis3study.mapper.ChannelMapper">
    <select id="selectChannel" resultType="com.xin.mybatis3study.entity.ChannelEntity">
    select * from tb_channel where id = #{id}
  </select>
</mapper>